.container {
    margin-top: 2rem;
  }
  
  .card {
    margin-top: 1rem;
  }
  
  .btn-submit {
    margin-top: 1rem;
  }
  .container {
    padding: 20px;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spin-image {
    animation: spin 100s linear infinite;
  }
  /* HomePage.css */
.custom-container {
  min-height: 80vh;
}

.custom-logo {
  font-family: 'Your Custom Font', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
